*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li{list-style: none;}

.navbar{
  background-color:  #333;
  width: 100%;
  height: 100%;
  padding: 10px;
  .navBox{
    display: flex;
    justify-content: center;
    align-items: center;
    .leftMenu{
      display: flex;
      align-items: center;
      .circle{
        display: flex;
        align-content: center;
        margin-right: 10px;
        li{
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #ccc;
          margin: 0 5px;
        }
      }
      i{}
    }
    .time{
      width: 400px;
      height: auto;
      margin: 0 30px;
      >p{
        color: #ccc;
        font-weight: bold;
        font-size: 18px;
      }
    }

    .rightMenu{
      display: flex;
      align-items: center;
      i{
        /*여백설정*/
      }
    }
  }
}